<div class="container">
  <div class="row mb-4 mt-3">

    <a class="col col-xs-3 navbar-brand" href="#">CryptoFolio</a>

    <div class="col col-xs-2 navbar-text"><span>Total: $12.456</span></div> 

    <div class="col col-xs-2 navbar-text alert-success">Profit: $5.678 
        <i class="fa fa-caret-up" aria-hidden="true"></i> 23%
    </div> 

  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col"><a href="#" (click)="openModal(template, editmode.buy)"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a></th>
        <th scope="col" class="text-left">Coin</th>
        <th scope="col" class="text-right"></th>
        <th scope="col" class="text-right"></th>
        <th scope="col" class="text-right">Amount</th>
        <th scope="col" class="text-right">Value</th>
        <th scope="col" class="text-right">Profit</th>
        <th scope="col" class="text-right">Buy Price</th>
        <th scope="col" class="text-right">List Price</th>
        <th scope="col" class="text-right">Change</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of portfolio">
        <th scope="row"><i class="cc {{item.coin}}" title="BTC"></i></th>
        <td class="text-left">{{item.coin}}</td>
        <td class="">
          <a href="#" (click)="openModal(template, editmode.edit)" ><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></a>
        </td>
        <td class="">
          <a href="#" (click)="openModal(template, editmode.sell)" ><i class="fa fa-minus-square fa-2x" aria-hidden="true"></i></a>
        </td>
        <td class="text-right">{{item.amount}}</td>
        <td class="text-right">{{item.value | currency}}</td>
        <td class="text-right" [ngClass]="{'alert-success':item.profit > 0, 'alert-danger':item.profit < 0}">{{item.profit | currency}}</td>
        <td class="text-right">{{item.price | currency}}</td>
        <td class="text-right">{{item.listPrice | currency}}</td>
        <td class="text-right" [ngClass]="{'alert-success':item.profit > 0, 'alert-danger':item.profit < 0}">
          <i class="fa" [ngClass]="{'fa-caret-up':item.profit > 0, 'fa-caret-down':item.profit < 0}"aria-hidden="true"></i> {{item.profitPercentage | number:0}}%</td>
      </tr>

    </tbody>
  </table>

  <ng-template #template>
      <div class="modal-header">
          <h4 class="modal-title pull-left">{{TransactionName.get(editmode.sell)}}</h4>
          <button type="button" class="close pull-right" 
                  aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group row">
            <label for="coin" class="col-sm-4 col-form-label">Coin</label>
            <div class="col-sm-8">
              <input type="text" class="form-control"
                [(ngModel)]="transaction.coin"
                [typeahead]="coins"
                name="coin"
                placeholder="Select coin...">
            </div>
          </div>

          <div class="form-group row">
            <label for="amount" class="col-sm-4 col-form-label">Amount</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" 
                [(ngModel)]="transaction.amount"
                name="amount"
                id="amount" placeholder="Amount">
            </div>
          </div>

          <div class="form-group row">
            <label for="price" class="col-sm-4 col-form-label">Price</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" 
                [(ngModel)]="transaction.price"
                name="price"
                id="price" placeholder="Price">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <button id="savebutton" name="savebutton" 
                (click)="saveTransaction()"
                class="btn btn-primary pull-right">Save</button>
            </div>
          </div>
        </form>

      </div>
  </ng-template>

</div>